<div class="container">
  <div class="jumbotron">
  <h1 class="display-4" id="jumboTitle">Headlines R Us</h1>
  <p class="lead">Scan the articles down below from CNN. Feel free to leave your comments!</p>
  <hr class="my-4">
  <p>Want the latest news?</p>
  <div class="btn-group">
  <a class="btn btn-primary btn-lg" href="#" role="button">Refresh News</a>
    <a class="btn btn-danger btn-lg" href="/articles" role="button" id="deleteBtn">Delete Articles</a>
  </div>
</div>
  <div class="container">
    <div class="col md-3" id="articles">
        {{#each article}}
        <div class="card" style="width: 100%;">
          <div class="card-body" id={{this._id}}>
            <h5 class="card-title">{{this.title}}</h5>
            <a href="http://www.cnn.com{{this.link}}" target="blank" class="card-link">Full Article</a>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">View Comments</button>
              <button type="button" class="btn btn-secondary">Leave a Comment</button>
            </div>
          </div>
        </div>
        {{/each}}
    </div>
</div>

    
    <div class="col md-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Username" aria-label="Your comment" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
             <button class="btn btn-outline-secondary" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>
